<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
        <title>品优购，优质！优质！</title>
        <link rel="icon" href="assets/img/favicon.ico">

        <link rel="stylesheet" type="text/css" href="css/webbase.css" />
        <link rel="stylesheet" type="text/css" href="css/pages-JD-index.css" />
        <link rel="stylesheet" type="text/css" href="css/widget-jquery.autocomplete.css" />
        <link rel="stylesheet" type="text/css" href="css/widget-cartPanelView.css" />

        <script type="text/javascript" src="plugins/angularjs/angular.min.js">  </script>
        <script type="text/javascript" src="js/base.js">  </script>
        <script type="text/javascript" src="js/service/contentService.js">  </script>
        <script type="text/javascript" src="js/controller/indexContentController.js">  </script>

    </head>

</head>
<body  ng-app="pinyougou" ng-controller="indexController" ng-init="findByContentCategoryId(1)">
<div class="yui3-u Center banerArea">
    <!--banner轮播-->
    <div id="myCarousel" data-ride="carousel" data-interval="4000" class="sui-carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="{{$index}}" class="{{$index==0?'active':''}}" ng-repeat="item in contentList[1]" ></li>
        </ol>
        <div class="carousel-inner">
            <div class="{{$index==0?'active':''}} item" ng-repeat="item in contentList[1]">
                <a href="{{item.url}}">
                    <img src="{{item.pic}}"/>
                </a>
            </div>
        </div><a href="#myCarousel" data-slide="prev" class="carousel-control left">‹</a><a href="#myCarousel" data-slide="next" class="carousel-control right">›</a>
    </div>
</div>
</body>
</html>